{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="my-5">About page</h3>
        <p>
            I have over 1+ years of experience in software development. 
            I am passionate about learning and sharing my knowledge with 
            others as publicly as possible. I am strategic, goal-oriented, 
            and always work with an end goal in mind.
        </p>
        <p>
            A skilled software engineer who loves problem-solving and seeking opportunities to learn emerging technologies, techniques, and other industry best practices.
            As a Software Engineer, improving products and services for my customers by optimizing systems and maintaining smooth services.

            I am a competent individual with a B.Sc. in Computer Science & Engineering and an excellent academic background I have a proven ability to enhance product features, functionality, and reliability through close collaboration with developers and the technical support team. I can prioritize multi-task assignments/projects within stringent deadlines while meeting clients’ requirements.

            I enjoy leading other people, but I am also a team player. I emphasize efficient programming skills and am eager to learn new technologies.
        </p>
        <p>
            Skills:

            - Software Design & Development
            - Project Management
            - Requirement Analysis
            - Quality Assurance
            - Cross-functional Collaboration
            - Technical Support & Guidance
            - Issues & Problem Resolution
        </p>
        <p>
            Competencies: Data Structure , Algorithm, Python, JavaScript, Django, SQL, PostgreSQL, MySQL, HTML, CSS, and Bootstrap.

            If you think I would be an excellent fit for your organization, please contact me directly or email me at kazimushfiqcse@gmail.com. 
            I look forward to exploring a rewarding and challenging career opportunity with you
        </p>
    </div>
{% endblock content %}